﻿body
{

}
.navrenk {
    background-color:darkgray;
}
.menurenk {
    color:#eff;
}



.foot{

    background-color:darkgray;
    bottom:0px;
    position:fixed;
    width:100%;
}


.drop{
    margin-top : 10%;
    margin-left: 5%;
    background-color:none;
    border:1px solid #000000;
    border-radius:7px;
}

.ara{
    width:50%;
}

.bosluk
{
    padding-right:10px;
    padding-left:10px;
    margin-left:10px;
    margin-right:40px;
    
}